# Node.js dependencies
/node_modules/

# Environment files (do not commit these as they contain secrets)
.env
mongo.env

# Firebase service account key (do not commit this secret)
serviceAccountKey.json

# Build output
/dist/
/build/

# System files
.DS_Store

# Log files
*.log

# Others (optional)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
